* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Prompt", sans-serif;

}
p{
    font-size: .8em;
}

body {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  /* background-color: aqua; */
  height: 100vh;
  justify-content: space-evenly;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
}

.payments {
  background-color: rgba(5, 5, 5, 0.37);
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 1em;
}

.sendMoney {
  margin-top: 1em;
}
.requestLoan {
  margin-top: 1em;
}
.recentlycontacted {
  display: flex;
  flex-direction: column;
  background-color: rgba(5, 5, 5, 0.158);
border-radius: 1em;
}
.recentlycontacted .p {
  padding: 1em;
}

.list {
  display: flex;

  justify-content: space-evenly;
  align-content: space-between;
}

.recentlycontacted img {
  width: 40px;
}

.downnav {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.432);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  border-radius: 0.4em;
  position: sticky;
  bottom: 2em;
  background-color: rgb(21, 112, 41);
}

.downnav a {
  padding: 0.4em;
  text-decoration: none;
  color: white;
}
.downnav a:visited {
  color: white;
}
.recent {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.container a{
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
