* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Prompt", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: rgb(21, 112, 41);
  width: 100%;

  display: flex;
  justify-content: center;
  color: white;
}
.navbar {
  display: flex;
  width: 90%;
  align-items: center;
}

nav img {
  width: 60px;
}
nav .text {
  width: 100%;
  display: flex;
}

nav .img {
  width: 15%;
}

.main {
  height: 80vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}
.main form {
  display: flex;
  flex-direction: column;
  height: 40vh;
  /* border: solid red; */

  justify-content: center;
}
.usernames {
  display: flex;
  flex-direction: column;
}
.passwords {
  display: flex;
  flex-direction: column;
  margin-top: 0.4em;
}

.submit {
  display: flex;
  flex-direction: column;
  margin-top: 0.4em;
}

.button button {
  width: 100%;
  margin-top: 0.4em;
  border: none;
  background-color: gray;
  color: white;
  padding: 0.4em;
}
.passwordfg {
  margin-top: 1em;
  align-self: center;
  font-size: 0.7em;
}
.text label {
  font-size: 0.8em;
}
label {
  font-size: 0.8em;
}
.details input {
  padding: 0.3em;
}
.submit input:checked {
  accent-color: rgb(3, 3, 3);
}

.app {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.toppage {
  height: 30%;
  display: flex;
  flex-direction: column;
}

.topbar {
  height: 30%;

  display: flex;
  align-items: center;
}

.text {
  width: 95%;
  display: flex;
  font-weight: 550;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0.5em;
}

.text p:hover {
  background-color: gray;
  padding: 0.3em;
  border-radius: 0.3em;
}
.text .acc {
  justify-content: center;
  width: 60%;
  font-size: 0.7em;
  align-content: center;
}
.text .switch {
  display: flex;
  justify-content: center;
  width: 40%;
  font-size: 0.9em;
  align-content: center;
  justify-content: center;
  padding-left: 0.7em;
  padding: 0.7em 0em 0.7em 0.7em;
  background-color: rgb(21, 112, 41);
  border-radius: 0.4em;
}

.accountDetails .word {
  background-color: rgba(21, 112, 41, 0.397);
  padding: 0.5em;

  min-width: 130px;
}
.accountDetails .number {
}
.accountDetails {
  /* border: 1px solid; */
  align-self: center;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* transactions summary */
.transactions {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.transacts {
  display: flex;
  margin-top: 1em;
}

.label {
  width: 70%;
  display: flex;
}

.label .bank {
  width: 20%;
}
.label .bank img {
  width: 30px;
}
.amount {
  width: 30%;
}

.account {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}
.transactiontype {
  font-size: 0.6em;
}

.deposit {
  color: rgb(21, 112, 41);
}

.transfer {
  color: red;
}

.summary {
  overflow: scroll;
  width: 90%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 0.5em;
}

.val {
  display: none;
}

form .container label {
  display: none;
}

form .container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-self: center;
  align-items: center;
}

form .container h1 {
  font-size: 1.4em;
}

form .container input {
  margin: 0.5em;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container div button {
  width: 100%;
}
.container div input {
  width: 100%;
}
